
table {
    border-collapse: collapse;
    border: 3px solid rgb(113, 168, 134);
}
thead {
    background-color: whitesmoke;
    font-weight: 700;
}
table th, table td {
    padding: 10px;
    text-align: right;
}